1.256 diff=bbcbasic
2.256 diff=bbcbasic
3.256 diff=bbcbasic
4.256 diff=bbcbasic
$.TEST diff=bbcbasic
$.SINES diff=bbcbasic
$.SINESTABLE diff=bbcbasic
$.16B diff=bbcbasic
$.16B#2e2 diff=bbcbasic
$.16B#2e3 diff=bbcbasic
$.16B#2e4 diff=bbcbasic
